  .navbar {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      background-color: darkred;
      color: black;
      height: 200px;
      font-size: 25px;
      justify-content: space-between;
  }

  .title {
      font-size: 75px;
      
      margin: 40px;
  }
  
  .navbar__item {
      flex-basis: auto;
      list-style-type: none;
      padding: 10px;
  }
  a:link {
      color: black;
      background-color: transparent;
      text-decoration: none;
    }
    
    a:visited {
      color: black;
      background-color: transparent;
      text-decoration: none;
    }
    
    a:hover {
      color: black;
      background-color: transparent;
      text-decoration: underline;
    }
    
    a:active {
      color: black;
      background-color: transparent;
      text-decoration: underline;
    }
  
  .logo {
      background-color: transparent;
    flex: .15 1 0;
    margin: none;
    padding: 10px;
  }